* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: cyan;
  color: rgb(75, 56, 56);
}

::selection {
  background-color: cyan;
  color: rgb(75, 56, 56);
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -o-moz-aviable;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 530px) {
  header {
    justify-content: center;
  }
  header .parent img {
    display: none;
  }
}
@media (max-width: 421px) {
  header {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  header {
    justify-content: center;
    margin: 10px;
  }
}

form[data-form2] {
  display: none;
  justify-content: center;
}
form[data-form2] input {
  width: 116px !important;
}
@media (max-width: 530px) {
  form[data-form2] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -o-moz-aviable;
    min-width: 100px !important;
  }
}
@media (max-width: 414px) {
  form[data-form2] {
    margin-bottom: 10px;
  }
}

body {
  background-color: var(--bg-my);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.divRight {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.divLeft {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 215px;
}
.divLeft div p {
  overflow-wrap: break-word;
}

.divParent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.type {
  font-weight: 600;
  font-size: 16px;
}

h1 img {
  width: 200px;
}
@media (max-width: 210px) {
  h1 img {
    width: 85%;
  }
}

.d-n {
  display: none;
}

.parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 414px) {
  .parent {
    max-width: 150px;
  }
}
@media (max-width: 210px) {
  .parent div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent div input {
    width: 85%;
  }
}

input {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.btn-primary {
  padding: 5px;
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
@media (max-width: 286px) {
  ul li {
    max-width: 260px;
  }
}

.eldivimg {
  height: 62%;
  width: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px 14px 0 0;
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  -ms-border-radius: 14px 14px 0 0;
  -o-border-radius: 14px 14px 0 0;
  border: 1px solid black;
}

.eldiv {
  height: 38%;
  width: 100%;
}
@media (max-width: 300px) {
  .eldiv {
    height: 50%;
  }
}

.heart {
  transform: scale(0.45);
}

.left-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.divImg {
  min-width: 260px;
  height: 62%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101%;
  border-bottom: 3px solid !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}
.divImg img {
  max-width: 209.76px;
}
@media (max-width: 300px) {
  .divImg {
    min-width: 176.75px;
    max-width: 176.75px;
    height: 50%;
  }
}

@media (max-width: 300px) {
  .weaknesses {
    max-width: 100px;
  }
}

select {
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

option {
  text-align: center;
}

.divLeftBottom {
  display: flex;
  align-items: center;
  font-weight: 700;
  position: relative;
  gap: 40%;
}
@media (max-width: 300px) {
  .divLeftBottom {
    gap: 10%;
  }
}

button {
  text-transform: uppercase;
}

input,
button {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 255px) {
  form[data-form2] {
    justify-content: center;
  }
}
form[data-form2] svg {
  width: 34px;
  height: 34px;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-right: 1px solid #aaa;
}
form[data-form2] input {
  border-left: 1px solid #aaa;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
}
@media (max-width: 305px) {
  form[data-form2] input {
    width: 62% !important;
  }
}
@media (max-width: 190px) {
  form[data-form2] input {
    width: 90px;
  }
}

p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.elli {
  background-color: #fff;
  margin: 10px;
  min-height: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  max-width: 265px;
}
@media (max-width: 300px) {
  .elli {
    max-width: 176.75px;
  }
}

@media (max-width: 421px) {
  .header {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  .header {
    justify-content: center;
    margin: 10px;
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 400px) {
  .elli:hover img[data-img] {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.8s cubic-bezier(1, -2.45, 1, 3.53);
    -webkit-transition: 0.8s cubic-bezier(1, -2.45, 1, 3.53);
    -moz-transition: 0.8s cubic-bezier(1, -2.45, 1, 3.53);
    -ms-transition: 0.8s cubic-bezier(1, -2.45, 1, 3.53);
    -o-transition: 0.8s cubic-bezier(1, -2.45, 1, 3.53);
  }
}
select[data-select],
select[data-select-weaknesses] {
  width: 130px;
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.up-div {
  position: fixed;
  right: 10px;
  top: 92%;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #0d6efd;
}
.up-div a {
  text-decoration: none;
  border-radius: 50%;
}
.up-div a img {
  transform: scale(0.5);
}
@media (max-width: 500px) {
  .up-div {
    right: 0;
  }
}

li[data-not-found] {
  list-style: none;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */