* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: cyan;
  color: rgb(75, 56, 56);
}

::selection {
  background-color: cyan;
  color: rgb(75, 56, 56);
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -o-moz-aviable;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 530px) {
  header {
    justify-content: center;
  }
  header .parent .search-div svg[data-close],
header .parent .search-div svg[data-search] {
    display: none;
  }
}
@media (max-width: 421px) {
  header {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  header {
    justify-content: center;
    margin: 10px;
  }
}

form[data-form2] {
  display: none;
  justify-content: center;
}
form[data-form2] input {
  width: 116px !important;
}
@media (max-width: 530px) {
  form[data-form2] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -o-moz-aviable;
    min-width: 100px !important;
  }
}
@media (max-width: 414px) {
  form[data-form2] {
    margin-bottom: 10px;
  }
}

body {
  background-color: var(--bg-my);
  transition: 0.5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.divRight {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.divLeft {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 215px;
  gap: 8px;
}
.divLeft div p {
  overflow-wrap: break-word;
}

.divParent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.type {
  font-weight: 600;
  font-size: 16px;
}

h1 img {
  width: 200px;
}
@media (max-width: 210px) {
  h1 img {
    width: 85%;
  }
}

.d-n {
  display: none;
}

.parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 414px) {
  .parent {
    max-width: 150px;
  }
}
@media (max-width: 210px) {
  .parent div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent div input {
    width: 85%;
  }
}

input {
  background-color: var(--input);
  color: var(--black-white);
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.btn-danger {
  padding: 5px;
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 13px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
@media (max-width: 286px) {
  ul li {
    max-width: 260px;
  }
}

.eldivimg {
  height: 62%;
  width: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px 14px 0 0;
  border: 1px solid black;
}

.eldiv {
  width: 100%;
  color: var(--black-white);
  border-top: 3px solid var(--black-white);
  border-bottom: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}
@media (max-width: 300px) {
  .eldiv {
    height: 50%;
  }
}

.heart {
  transform: scale(0.45);
}

.left-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.divImg {
  min-width: 260px;
  min-height: 223px;
  height: 62%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101%;
}
.divImg img {
  max-width: 209.76px;
  color: var(--black-white);
}
@media (max-width: 300px) {
  .divImg {
    min-width: 176.75px;
    max-width: 176.75px;
    height: 50%;
  }
}

@media (max-width: 300px) {
  .weaknesses {
    max-width: 100px;
  }
}

select {
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--bg-select);
  color: var(--black-white);
  border-radius: 20px;
  border: none;
}

option {
  text-align: center;
  background-color: var(--white-black);
}

.divLeftBottom {
  display: flex;
  align-items: center;
  font-weight: 700;
  position: relative;
  gap: 40%;
}
@media (max-width: 300px) {
  .divLeftBottom {
    gap: 10%;
  }
}

button {
  text-transform: uppercase;
  border: none;
  outline: none;
}

input,
button {
  border-radius: 20px;
}

@media (max-width: 255px) {
  form[data-form2] {
    justify-content: center;
  }
}
form[data-form2] label svg {
  width: 34px;
  height: 34px;
  padding: 5px;
  background-color: var(--input);
  color: var(--gray-white);
  border-radius: 15px 0 0 15px;
  border-right: 1px solid #aaa;
}
form[data-form2] input {
  border-left: 1px solid #aaa;
  border-radius: 0 15px 15px 0;
}
@media (max-width: 305px) {
  form[data-form2] input {
    width: 62% !important;
  }
}
@media (max-width: 190px) {
  form[data-form2] input {
    width: 90px;
  }
}

p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.elli {
  background-color: var(--input);
  margin: 10px;
  min-height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  max-width: 265px;
}
@media (max-width: 300px) {
  .elli {
    max-width: 176.75px;
  }
}

@media (max-width: 421px) {
  .header {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  .header {
    justify-content: center;
    margin: 10px;
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .elli:hover img[data-img] {
    transform: scale(1.1);
    transition: 0.8s cubic-bezier(1, -2.45, 1, 1.53);
  }
}
select[data-select],
select[data-select-weaknesses] {
  width: 130px;
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

li[data-not-found] {
  list-style: none;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: var(--black-white);
}

.dark-theme ::-moz-placeholder {
  color: var(--input-color);
}

.dark-theme :-ms-input-placeholder {
  color: var(--input-color);
}

.dark-theme ::placeholder {
  color: var(--input-color);
}

.search-div {
  color: var(--black-white);
}

.divRight {
  color: var(--black-white);
}
.divRight svg {
  transform: scale(1.5);
}

.btn-danger {
  transition: 0.5s ease;
  padding: 5px;
  background-color: var(--bs-danger);
}

.btn-danger:hover {
  color: #fff;
  background-color: var(--bs-danger-hover);
}

.btn-danger:active {
  color: #fff;
  background-color: var(--bs-danger-hover);
}

.btn-danger:focus {
  color: #fff;
  background-color: var(--bs-danger-hover);
}

.up-div {
  transition: 0.5s ease-in-out;
  transform: scale(0.8);
  color: var(--black-white) !important;
  position: fixed;
  right: 0px;
  top: 92%;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white-black) !important;
}
.up-div a svg {
  color: var(--black-white) !important;
}
.up-div:hover {
  background-color: var(--black-white) !important;
}
.up-div:hover a,
.up-div:hover a svg {
  color: var(--white-black) !important;
}
.up-div a {
  text-decoration: none;
  border-radius: 50%;
}
.up-div a svg {
  transform: scale(0.5);
}

.light-div {
  padding: 3px;
  transform: scale(0.7);
  transition: 0.5s linear;
  position: fixed;
  display: flex;
  right: 0px;
  top: 10%;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.light-div:hover {
  color: #fff500;
  background-color: #000;
}
.light-div:focus {
  color: #fff500;
  background-color: #000;
}

.dark-div {
  padding: 3px;
  transform: scale(0.7);
  transition: 0.5s linear;
  position: fixed;
  display: flex;
  right: -100%;
  top: 10%;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: dimgray;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.dark-div:hover {
  color: #fff500;
  background-color: #000;
}

img,
svg {
  cursor: pointer;
}

div[data-add] {
  display: none;
}
@media (max-width: 500px) {
  div[data-add] {
    display: flex;
    padding: 5px 12px;
    border-radius: 50%;
    background-color: var(--bg-select);
    color: var(--black-white);
    border: solid var(--gray-white);
  }
}

form[data-form] {
  display: flex;
}
@media (max-width: 500px) {
  form[data-form] {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */