* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}
form[data-form] {
  .parent {
    max-width: 1200px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -o-moz-aviable;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 530px) {
    justify-content: center;
    .parent img {
      display: none;
    }
  }
}
form[data-form2] {
  display: none;
  min-width: 232px;
  @media (max-width: 530px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: -o-moz-aviable;
    min-width: 100px !important;
  }
}
body {
  background-color: #ffd845;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.divImg {
  border-bottom: 3px solid !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}
.divRight {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.divLeftBottom {
  display: flex;
  align-items: center;
  font-weight: 700;
  position: relative;
  gap: 40%;
}
.divLeft {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 215px;
  div p {
    word-wrap: break-word;
  }
}
.divParent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 18px;
  font-weight: 700;
}
.type {
  font-weight: 600;
  font-size: 16px;
}
h1 {
  img {
    width: 200px;
    @media (max-width: 210px) {
      width: 85%;
    }
  }
}

.d-n {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  @media (max-width: 210px) {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 85%;
      }
    }
  }
}

form,
.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.btn-primary {
  padding: 5px;
  border: none;
  outline: none;
  margin: 10px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  li {
    & {
      @media (max-width: 286px) {
        max-width: 260px;
      }
    }
  }
}

.eldivimg {
  height: 62%;
  width: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px 14px 0 0;
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  -ms-border-radius: 14px 14px 0 0;
  -o-border-radius: 14px 14px 0 0;
  border: 1px solid black;
}

.eldiv {
  height: 38%;
  width: 100%;
}

.heart {
  transform: scale(0.45);
  -webkit-transform: scale(0.45);
  -moz-transform: scale(0.45);
  -ms-transform: scale(0.45);
  -o-transform: scale(0.45);
}

.left-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.divImg {
  min-width: 260px;
  @media (max-width: 300px) {
    min-width: 176.75px;
  }
}

select {
  padding: 5px;
  border-radius: 13px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

option {
  text-align: center;
}

.divLeftBottom {
  @media (max-width: 300px) {
    gap: 10%;
  }
}

button {
  text-transform: uppercase;
}

input,
button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

form[data-form2] {
  @media (max-width: 260px) {
    input {
      width: 100px;
    }
  }
}

p {
  margin-bottom: 0;
}

.elli {
  background-color: #fff;
  padding: 0 1px;
  margin: 10px;
  height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  max-width: 265px;
}
